.image_out {
    position:relative;
    overflow:hidden;
}

.image_in {
    position:absolute;
    width:100%;
    height:100%;
}

.image_img {
    position:absolute;
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center center;
}


4302 : 3143 = 70 : x